<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper">
            <div id="content" style="margin-top:0.5rem;">
                <div class="container-fluid">
                    <center>
                        <div class="row text-center" style="margin:1rem;">
                            <center>
                                <div style="margin:0.5rem;">
                                    <div class="card shadow mb-4">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h6 class="text-primary fw-bold m-0">Temperature and Humidity</h6>
                                            
                                        </div>
                                        <div  class="card-body">
                                            <div id="container"></div>
                                        </div>
                                    </div>
                                </div>
                            </center>
                            
                            <div class="col">
                                <div class="d-flex flex-row">
                                    <div>
                                        <p>Temperature&nbsp;</p>
                                    </div>
                                    <div style="background-color:steelblue; width:30px; padding:10px; height:2px" ></div>
                                </div>
                                <div class="d-flex flex-row">
                                    <div>
                                        <p>Humidity&nbsp;</p>
                                    </div>
                                    <div style="background-color:green; width:30px; padding:10px; height:2px" ></div>
                                </div>
                            </div>
                        </div>
                    </center>
                    
                </div>
            </div>
            
        
    </div>
    <script type="module">
        var sensorData = [
            {% for data in sensor_data %}
            {
                temperature: {{ data.temperature }},
                humidity: {{ data.humidity }},
                time: "{{ data.time|date:'Y-m-dTH:i:s' }}"  // Ensure correct date-time format
            },
            {% endfor %}
        ];

        console.log("Sensor Data:", sensorData);

        // Function to parse date strings
        function parseDate(dateString) {
            return new Date(dateString);
        }

        // Set the dimensions and margins of the graph
        var margin = {top: 10, right: 30, bottom: 30, left: 60},
           //make the width and height adjust dynamically
           
            width = 480 - margin.left - margin.right,
            height = 460 - margin.top - margin.bottom;

        // Append the svg object to the body of the page
        var svg = d3.select("#container")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg.append("text")
            .attr("text-anchor", "end")
            .attr("x", width / 3 + margin.left)
            .attr("y", height + margin.top + 21)
            .text("Time");

        // Add X axis
        var x = d3.scaleTime()
          .domain(d3.extent(sensorData, function(d) { return parseDate(d.time); }))
          .range([ 0, width ]);
        console.log("X Axis Domain:", x.domain());
        svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));

        // Add Y axis for temperature
        var yTemp = d3.scaleLinear()
          .domain([0, d3.max(sensorData, function(d) { return +d.temperature; })])
          .range([ height, 0 ]);
        console.log("Y Axis Domain for Temperature:", yTemp.domain());
        svg.append("g")
          .call(d3.axisLeft(yTemp));

        svg.append("text")
          .attr("text-anchor", "end")
          .attr("transform", "rotate(-90)")
          .attr("y", -margin.left + 20)
          .attr("x", -height / 2 + margin.top)
          .text("Temperature");

        // Add Y axis for humidity
        var yHumidity = d3.scaleLinear()
          .domain([0, d3.max(sensorData, function(d) { return +d.humidity; })])
          .range([ height, 0 ]);
        console.log("Y Axis Domain for Humidity:", yHumidity.domain());
        svg.append("g")
          .attr("transform", "translate(" + width + " ,0)")
          .call(d3.axisRight(yHumidity));

        svg.append("text")
          .attr("text-anchor", "end")
          .attr("transform", "rotate(-90)")
          .attr("y", width + margin.right +2)
          .attr("x", -height / 2 + margin.top)
          .text("Humidity");

        // Add the temperature line
        svg.append("path")
          .datum(sensorData)
          .attr("fill", "none")
          .attr("stroke", "steelblue")
          .attr("stroke-width", 1.5)
          .attr("d", d3.line()
            .x(function(d) { 
                var parsedDate = parseDate(d.time);
                console.log("Parsed Date:", parsedDate);
                return x(parsedDate); 
            })
            .y(function(d) { 
                var temperature = +d.temperature;
                console.log("Temperature:", temperature);
                return yTemp(temperature); 
            })
          );

        // Add the humidity line
        svg.append("path")
          .datum(sensorData)
          .attr("fill", "none")
          .attr("stroke", "green")
          .attr("stroke-width", 1.5)
          .attr("d", d3.line()
            .x(function(d) { 
                var parsedDate = parseDate(d.time);
                console.log("Parsed Date:", parsedDate);
                return x(parsedDate); 
            })
            .y(function(d) { 
                var humidity = +d.humidity;
                console.log("Humidity:", humidity);
                return yHumidity(humidity); 
            })
          );
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>